[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "~=20.1.0"
django-storages = "*"
dj-database-url = "*"
psycopg2 = "*"
sklearn = "*"
scikit-learn = "~=0.22.2.post1"
nltk = "*"
Django = "~=3.2.2"

[dev-packages]

[requires]
python_version = "3.8"
