<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyProfile </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "information:informationview" %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "projects:myprojects" %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "myskills:myskills" %}">Skills</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url "information:myresume" %}">Resume</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url "information:contactme" %}">Contact me</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url "information:assistant" %}">Chat with bot</a>
        </li>
      </ul>
      <span class="navbar-text">
        Hi I'm Pallav, Hope you have a great day
      </span>
    </div>
  </div>
</nav>
    <style>
        nav{

  background: rgb(214,108,154);!important;
background: linear-gradient(90deg, rgba(214,108,154,0.9420810560552346) 0%, rgba(212,69,131,1) 12%, rgba(16,101,201,1) 91%, rgba(16,101,201,1) 97%);!important;
;
        }

    </style>
{% block content %}

{% endblock %}
</body>
</html>