{% extends "base.html" %}
{% block content %}
    <div style="display: flex;justify-content: center">
<iframe  style="margin-top: 1%" src="https://drive.google.com/file/d/1UdlMHKaSW9Kwlu2-0K_CrWad05lV9GL6/preview?usp=sharing" width="640" height="480"></iframe>
    </div>
    <style>
    body{
        background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    </style>
{% endblock content %}